.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* margin-left: 15%; */
    text-align: center;
}







.input {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.summonerbtn {
    margin-top: 0.5rem;
}